syntax: glob

objects
bin
run
doc/dox.out
doc/doxygen/html
doc/doxygen/latex
*~
*.bak
*.bk
*.orig
*.dat
unittests/*.F90
TAGS
.tags
*tags
*.aux
*.log
*.dat
*.nlo
*.toc
*.out
*.el
*.bbl
*.blg
doc/memo/*/auto
doc/memo/SPUNG/figures/*.pdf
*.pyc
*.a
*.so
MSVStudio/Debug/*
MSVStudio/Release/*
MSVStudio/*.u2d
MSVStudio/*.suo
*.mod
*.smod
*.o
run_unittests
*\#
.cache
src/*.bck
