syntax: glob

objects
bin
run
doc/dox.out
doc/doxygen/html
doc/doxygen/latex
supertest_log
*~
*.bak
*.bk
*.orig
*.dat
unittests/*.F90
TAGS
.tags
*tags
out.inp
*.aux
*.log
*.dat
*.nlo
*.toc
*.out
*.el
*.bbl
*.blg
doc/memo/*/auto
doc/memo/flash/thermopack.pdf
doc/memo/intro/intro.pdf
doc/memo/thermopack/thermopack_memo.pdf
*.pyc
*.a
*.so
addon/pyThermopack/debug.txt
addon/pyThermopack/*.pdf
MSVStudio/Debug/*
MSVStudio/Release/*
MSVStudio/*.u2d
MSVStudio/*.suo
addon/plots/*.png
addon/plots/*/*.png
CVS
*.mod
*.o
run_unittests
*\#
.cache
addon/pyThermopack/build/*
unittests_results/*
src/*.bck
