syntax: glob

objects
bin
installed/
build/
run*
doc/dox.out
doc/doxygen/html
doc/doxygen/latex
doc/memo/*/auto
doc/memo/SPUNG/figures/*.pdf
unittests/*.F90

MSVStudio/Debug/*
MSVStudio/Release/*
MSVStudio/*.u2d
MSVStudio/*.suo

src/*.bck
*suite__genmod.f90

.cache

*.bak
*.bk
*.orig
*.dat
*.aux
*.log
*.nlo
*.toc
*.out
*.el
*.bbl
*.blg
*.pyc
*.a
*.so
*.dylib
*.dll
*.mod
*.smod
*.o

TAGS
.tags
*tags
*~
*\#

*.DS_Store
local_testing/
venv/
venv*
*.idea
*.vscode
scripts/
!.github/scripts/